$primary: #f3e9f1;
$secondary: #ac6bab;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: $primary;
  .navbar-collapse {
    justify-content: end;
  }
  img {
    width: 250px;
    height: 62px;
  }
  i {
    color: $secondary;
    font-size: 1.5rem;
  }
  a {
    color: #000;
  }
}

.btn-secondary {
  background-color: $secondary;
}

.btn-danger {
  width: 4rem;
}

.copyright {
  float: right;
  .mrmwebdev {
    float: right;
    img {
      width: 80px;
      height: 12px;
      margin: 0 5px 0 5px;
    }
  }
}
